.container_contact{
    width: 83%;
    height: 100vh;
    position:absolute;
    right: 0;
}
.intro_con{
    height: 10%;
    width: 20%;
    position:absolute;
    left: 3%;
    top:10%;
    animation: formSlid .4s ease-in;
}
.intro_con span{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#999999;
    letter-spacing: 5px;
}
.intro_con h2{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    letter-spacing: 7px;
}

.form_div{
    height: 500px;
    width: 500px;
    position:absolute;
    left: 3%;
    top:30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    display: inline-block;
    animation: formSlid .7s ease-in;

}
input{
    height: 40px;
    width: 450px;
    padding: 10px;
    margin: 10px;
    background-color: #f2f3f7;
    border: transparent;
    border-radius: 15px;
}
input:focus{
    background-color: #d1d2d6;
    outline: transparent;
}

::placeholder{
    text-transform: uppercase;

}
textarea{
    padding: 10px;
    margin: 10px;
    background-color: #f2f3f7;
    border: transparent;
    border-radius: 15px;
}
textarea:focus{
    outline: transparent;
    background-color: #d1d2d6;
}
#send{
    padding: 10px;
    margin: 10px;
    background-color: #2c98f0;
    border: transparent;
    border-radius: 15px;
    color:white;
    
}
#send:hover{
    background-color: #3a94df;
}

@keyframes formSlid {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX();
    }
}